<nav class="main-navbar flex pt-[20px] pb-3 sticky top-0 items-center bg-white">
    <a routerLink="/home/"  class="brand-link text-3xl block py-2 font-normal">SANJEEV</a>
    <ul class="nav-list flex text-lg ml-auto">
        <li class="nav-item flex items-center" *ngFor="let item of navlinks">
            <a routerLink={{item.link}} routerLinkActive="border-b border-b-black pb-3" class="nav-link flex items-center px-4 py-2">
                <mat-icon class="text-[22px]">{{item.icon}}</mat-icon>
                <span class="label-text pl-1">
                    {{item.labelText}}
                </span>
            </a>
        </li>
         <li class="nav-item flex items-center">
            <a class="nav-link block pl-4 py-2" role="button">
                <mat-icon class="fill-black">light_mode</mat-icon>
            </a>
        </li>
    </ul>

</nav>