<section class="introduction-section flex items-center h-full">
    <article class="intro-text">
        <h2 class="text-5xl mb-4 font-semibold">Hello, I'm Sanjeev Maharjan</h2>
        <p class="text-2xl break-words">
            A creative web developer, with specialization in Frontend Developement based in Nepal.
            Converting designs into resuseable code using frontend technologies.
        </p>
    </article>
    <aside class="profile-container w-[100vw] h-auto">
        <div class="img-container border-animate w-full h-full p-4 rounded-3xl overflow-hidden">
            <img src={{profileImg}} alt="" class="w-full h-full object-contain rounded-3xl overflow-hidden hover:grayscale">
        </div>
    </aside>
</section>