<!--TODO: add page transitions and add darkmode -->
<section class="introduction-section flex items-center h-full">
    <article class="intro-text">
        <p class="text-xl mb-3">Hello, I'm</p>
        <h2 class="text-5xl mb-2 font-semibold">
            Sanjeev Maharjan
        </h2>
        <h2 class="text-5xl mb-4 font-semibold">
            I build things using code.
        </h2>
        <p class="text-lg break-words w-[70%]">
            I'm a programmer/designer specializing in building digital experiences using frontend technologies.
            Currently, I'm focused in learning new technologies and implementing them in my stack.
        </p>
        <ul class="social-media-list my-4">
            <li class="list-item">
                <a href="" class="list-link">
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>
            </li>
            <li class="list-item">
                <a href="" class="list-link">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </li>
            <li class="list-item">
                <a href="" class="list-link">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
            </li>
            <li class="list-item">
                <a href="" class="list-link">
                    <fa-icon [icon]="faFacebookMessenger"></fa-icon>
                </a>
            </li>
        </ul>

        <a href="mailto:sanjeevmaharjan19@gmail.com" class="inline-flex p-[10px_20px] text-lg border-black border-2 rounded-lg" role="button">Get in touch </a>
    </article>
    <!-- <aside class="profile-container w-[108vw] h-auto">
        <div class="img-container border-animate w-full h-full p-4 rounded-3xl overflow-hidden">
            <img src={{profileImg}} alt=""
                class="w-full h-full object-contain rounded-3xl overflow-hidden hover:grayscale">
        </div>
    </aside> -->
</section>
<section class="projects-section">

</section>