.border-animate {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        height: 400%;
        width: 30%;
        background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(191, 45, 253, 1) 100%);
        // animation: animate 4s linear infinite;
        transform: rotate(120deg);
        z-index: -2;
    }
    &:hover{
        &::before{
            animation: animate 4s linear infinite;
        }
    }
}

@keyframes animate {
    0%{
        transform: rotate(120deg);
    }
    100%{
        transform: rotate(480deg);
    }
}

.about-section{
    &::-webkit-scrollbar{
        // scrollbar-width: 0;
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
